
/*TYPE SELECTOR*/

ul {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    color: hwb(74 56% 1%);
}

q {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    color: hwb(77 38% 2%);
}
p {
    color: hwb(100 97% 2%);
}
img {
    float: left;
    margin-right: 1em;
}

/*ID SELECTOR*/
#photography {
    clear: left;
}

/*RELATIONAL SELECTOR*/
main strong {
    font-size: 120%;
    color: hwb(0 1% 99%);
}

section#films a:hover {
    font-size: 200%;
    color: hwb(0 88% 7%);
}

/*COMBINATION SELECTOR*/
h1, h2, h3 {
    color: rgb(229, 28, 45);
}


body {
    height: 500px;
    background: #ebd7b2 url("images/shoot.jpg") center center;
}

#JSF {
    background-color:#ffc0cb;
    border: thick outset #000000;
}

#photographer {
    background-color:#ffc0cb;
}

#videographer {
    background-color:#ffc0cb;
}

.back {
    width: 20%;
    text-align: center;
    margin: 1em;
    padding: 2em 1em;
    border-radius: 20%;
}

#photography {
    float: left;
    width: 450px;
}


#films {
    float: right;
    width: 450px;
}

footer {
    clear: both;
}

article {
    column-count: 3;
    column-gap: 55px;
    column-rule: 5px solid #000000;
}