
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    color: #454545;
    background: #fff;
    margin: 0;
    padding: 0%;
}

h1, h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}



footer {
    text-align: center;
    background-color: #e6e6e4;
    clear: both;
}

#photography {
    clear: left;
}

section#films a:hover {
    font-size: 200%;
    color: hwb(256 3% 74%);
}

.back {
    width: 20%;
    text-align: center;
    margin: 1em;
    padding: 2em 1em;
    border-radius: 20%;
}

div.sections {
    text-align: center;
}

main#vids {
    text-align: center;
}


section#photography {
    margin-right: 1em;
    flex-basis: 40%;
}

section#films {
    margin-left: 1em;
    flex-basis: 40%;
}


article {
    column-count: 3;
    column-gap: 55px;
    column-rule: 5px solid #000000;
}

.scalable-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 3px solid #ddd;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
}
.gallery-pics {
    flex: auto;
    margin: 5x;
    width: 200px;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.contacts {
    text-align: center;
}

.phototypes {
    list-style-type: none;
}

/*HOMEPAGE-SPECIFIC*/
main#profile img {
    float: left;
    width: 25%;
    min-width: 150px;
    padding-right: 2em;
}


/*NAVIGATION MENU*/
#nav_menu {
    padding-bottom: 2em;
    margin: auto;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#nav_menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#nav_menu ul li {
    flex-basis: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 98%;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(75, 87, 86);
    color: white;
    font-weight: bold;
    border-right: 5px solid rgb(244, 239, 239);
}

#nav_menu ul li a:hover {
    background-color: #43739d;
}

#nav_menu ul li a.pic {
    border-right: 5px solid rgb(244, 239, 239);
}

#nav_menu ul li a.vid {
    border-right: none;
}

/* CARDS FOR PHOTOSHOOT AND FILMS PAGES*/
.travel,
.cheerleading,
.graduation,
.maternity,
.advertisement,
.events {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

div.images {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

div.video {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

    .travel,
    .cheerleading,
    .graduation,
    .maternity,
    .advertisement,
    .events {
        flex-direction: column;
    }
}

@media only screen and (max-width: 730px) {
    div#sections {
        flex-direction: column;
        align-items: center;
    }
 @media only screen and (max-width: 630px) {
     #nav_menu ul {
        flex-direction: column;
    }

     #nav_menu ul li {
        float: none;
        width: 100%
     }

    #nav_menu ul li a {
        border-right: none;
        border-bottom: 5px solid rgb(244, 239, 239);
     }

    #nav_menu ul li a.vid {
        border-bottom: none;
     }
}

    header {
        text-align: center;
        display: block;
        width: 98%;
        padding: 1em 0;
        color: rgb(68, 15, 124);
    }

    main {
        float: left;
    }
}



